:root{
    --white-color:#fff;
    --home-extension:408px;
    --pages-extension:340px;
    --destinations-extension:164px;
    --tours-extension:200px;
    --blog-extension:164px;
    --shop-extension:200px;
    --element-extension:464px;
    --bar-right:458px;
}

html{
    font-size:62.5%;
    font-family: 'Poppins',sans-serif;
    line-height: 1.6rem;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

*{
    box-sizing: inherit;
}



.col-fourth{
    float:left;
    width:25%;
}


.scroll-y{
    overflow-y:scroll;
}

.grid{
    max-width: 100%;

}

.grid__row{
    display:flex;
    flex-wrap: wrap;
}

.grid__column--20{
    display: flex;
    justify-content: center;
    width: 22.5%;
}

.clear{
    clear: both;
}

@keyframes slideSmooth{
    from{
        opacity: 0;
        width: 0;
    }to{
        opacity: 1;
        width: 100%;
    }
}

@keyframes spread{
    from{
        height: 0;
    }to{
        height: 100%;
    }
}

@keyframes spread1{
    from{
        height: 0;
    }to{
        height: var(--element-extension);
    }
}

@keyframes spreadX{
    from{
        width: 0;
    }to{
        width: 100%;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
        display: block;
    }
}

@keyframes zoomIn{
    from{
        transform: scale(1.1);
    }to{
        transform: scale(1.3);
    }
}

@keyframes surfUp{
    from{
        opacity: 0;
        top:164px;
    }to{
        opacity: 1;
        top:84px;
    }
}

