@media (min-width:64.0625em){
    .wrap--header{
        display: flex;
    }
    
    .wrap--header-tablet{
        display: none;
    }
}

@media (max-width:70.25em){
    
.slider .carousel-control-prev,
.slider .carousel-control-next{
    display: none;
}   
}

@media (max-width:64em){
    
.slider{
    margin-top: 70px;
}

.wrap--header-tablet{
    background-color: #3fd0d4;
    display: flex;
    align-items: center;
    position: fixed;
    height: 70px;
    z-index: 4;
    top:0;
    left: 0;
    right: 0;
}

.wrap--header-tablet  .logo-brand-tablet{
 
}
    
.wrap--header-tablet  .logo-brand-tablet img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 112px;
    height: 36px;
}

.feedbacker{
    height: 358px;
    flex-direction: column;
    text-align: center;
}

.feedback .wrapper-feedbacker__avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.service .service__content{
    flex-direction: column;
}

.service .service__content .service__item{
    padding-top: 0px;
    margin-bottom: 48px;
}

#owl-carousel--moment .owl-dots{
    display: none;
}


.winter-resort .winter-resort__content{
    display: flex;

    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.winter-resort .winter-resort__content .wrap-winter-resort__img--star .star-circle{
    display: none;
}


.service .service__header{
    max-width: 80%;
    margin: auto;
}

.icon-bar__tablet{
    fill:var(--white-color);
    position: absolute;
    left: 12%;
    line-height: 70px;
    cursor: pointer;
    padding-left: 40px;
    margin-left:-40px ;
    padding-right: 40px;
}

.icon-bar__tablet svg{
    width: 20px;
    height: 20px;
}


.icon-info__header{
    cursor: pointer;
    color:var(--white-color);
    height: 16px;
    position: absolute;
    right: 12%;
    height: 70px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: -40px;
    display: flex;
    align-items: center;
}

.icon-info__header svg{
    width: 20px;
}

.overlay--login{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: -100;
}

.card-login{
    display: none;
    position:fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 308px;
    margin: auto;
    background-color: #3abdc1;
}

.input--login:checked ~ .overlay--login{
    display: block;
    background-color: rgba(255,255,255,0.4);
    z-index: 100;
}

.input--login:checked ~ .card-login{
    display: block;
    z-index: 101;
}

.nav-tabs{
    width: 100%;
    border: none;
}

.nav-tabs .nav-item{
    flex:1;
}

.nav-tabs .nav-link{
    width: 100%;
    color:var(--white-color);
    outline: none;
    border: none;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 0;
    margin-bottom: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color:var(--white-color);
    background-color: #3fd0d4;
    margin-bottom: 0;
}

.tab-content>.active{
    height: auto;
    background-color: #3fd0d4;
}

.input--login{
    display: none;
}



.tablet-input{
    /* display: none; */
}

.tablet-input:checked ~ .overlay--1{

}

.icon-bar__tablet:hover .wrap-accordion{
    height: auto;
    opacity: 1;
    display: block;
}



.wrap-accordion{
    width: 100vw;
    background-color: var(--white-color);
    animation: fadeIn 0.4s forwards ease-out;
    display: none;
    height: auto;
}

.sidebar__tablet{
    height: auto;
    position: fixed;
    overflow: scroll;
    top: 70px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: var(--white-color);
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.06);
    }

.sidebar__tablet .sidebar__tablet-list{
    width: 768px;
    max-width: 90%;
    padding: auto;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sidebar__tablet .sidebar__tablet-list li:first-child span{
    color:#3fd0d4;
}

.sidebar__tablet .sidebar__tablet-list .sidebar__tablet-item{
   
    display: flex;
    justify-content: space-between;
}

.accordion-body{
    list-style: none;
}

.accordion-item{
   
    margin: auto;
    border: none;
    line-height: 41px;
    transition: color 0.3s ease-out;
}

.accordion-body__link-item{
    font-weight: 600;
    font-size: 14px;
    color:#212121e0;
    text-decoration: none;
    transition: color 0.3s ease-out;
    height: 41px;
    display: block;
    margin-left:20px;
    border-bottom:1px solid rgba(0,0,0,0.06) ;
}

 .accordion-body__link-item:hover{
    color:#3fd0d4;
}


.accordion-body{
    padding:0;
}

.accordion-body,
.accordion-header{
    width: 768px;
    max-width: 90%;
    margin: auto;
}


.accordion-button{
    background-color: var(--white-color);
    outline: none;
    box-shadow: none;
    border-bottom:1px solid rgba(0,0,0,0.06) !important;
    color:#212121;
    font-size: 15px;
    font-weight: 600;
    box-shadow: none !important;
    background-color: var(--white-color) !important;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.accordion-button i{
    font-size: 10px;
    font-weight:600 ;
}

.accordion-button:not(.collapsed){
    color:#212121;
}

.accordion-button:focus {
    color: #3fd0d4 ;
}

.accordion-button:focus i{
    transform: rotate(90deg);
}

.accordion-button:active{
    outline: none;
}

.sidebar__tablet .sidebar__tablet-list .sidebar__tablet-item i{
    font-size: 10px;
    line-height: 41px;
    font-weight:900;
    position: relative;
    left:-8px;
}

.accordion-button::after{
    display: none;
}

.modal-login{
    background-color: #3fd0d4;
    color:var(--white-color);
}

.modal__header{
    padding: 30px 30px 0;
}

.modal__header h1{
    font-size:20px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 0;
} 

.modal__header p{
    font-size: 14px;
    margin-bottom: 23px;
    line-height: 24px;
}

.modal-login .modal-login__container{
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.modal__username{
    display: flex;
    width: 248px;
    height: 52px;
    margin-bottom: 6px;
}

.wrap__icon-username{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    font-size:14px;
    background-color: #6fdcdf;
}

.wrap__text-user{
    outline: none;
    flex:1;
    color:var(--white-color);
    border:none;
    font-size: 14px;
    background-color: #6fdcdf;
}

.wrap__text-user::placeholder{
    color:var(--white-color);
    font-size: 14px;
}
.wrap__text-password{
    outline: none;
    flex:1;
    color:var(--white-color);
    border:none;
    font-size: 14px;
    background-color: #6fdcdf;
}

.wrap__text-password::placeholder{
    color:var(--white-color);
    font-size: 14px;
}

.modal__password{
    display: flex;
    width: 248px;
    height: 52px;
    margin-bottom: 6px;
}

.wrap__icon-password{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    font-size:14px;
    background-color: #6fdcdf;
}

.modal-login .save-account{
    margin-top: 4px;
    line-height: 40px;
    display: flex;
    align-items: center;
}

.modal-login .save-account .save-acc{
    width: 14px;
    height: 14px;
    display: none;
}

.sign-in__with{
    font-size:1.4rem;
    padding:16px 0;
    display: block;
    line-height: 24px;
}

.circle--none{
    cursor: pointer;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: var(--white-color);
}

.save-acc:checked ~ .circle--none{
    display: none;
}

.circle--dot{
    cursor: pointer;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    display: none;
}

.save-acc:checked ~ .circle--dot{
    display: flex;
}    


.circle--dot i{
    color:#3fd0d4;
    font-size: 6px;
}

.remember-password{
    font-size: 14px;
    padding-left: 14px;
    cursor: pointer;
}

.modal-login .get-password{
    text-decoration: none;
    color:#26878A;
    font-size:1.4rem;
    display: block;
    line-height: 24px;
    margin-top: 4px;
}

.modal-login .btn--sign-in{
    font-size: 1.3rem;
    color:#212121;
    font-weight: 600;
    background-color: var(--white-color);
    width: 100%;
    height: 52px;
    letter-spacing: 1px;
    border: none;
    border-radius: 0;
    margin-top: 20px;
    outline: none;
    border: none;
    box-shadow: none;
}

.modal-login .btn--sign-in:hover{
    color:var(--white-color);
    background-color: #3abdc1;

}

.modal-login .modal-login__footer{
    height: 52px;
    display: flex;
}

.modal-login .modal-login--fb{
    flex:1;
    color:var(--white-color);
    font-size: 1.3rem;
    font-weight: 900;
    background-color: #3b5998;
    border-radius: 0;
    box-shadow: none;
    letter-spacing: 1px;
}

.modal-login .modal-login--gg{
    flex:1;
    color:var(--white-color);
    font-size: 1.3rem;
    font-weight: 900;
    background-color: #dd4b39;
    border-radius: 0;
    box-shadow: none;
    letter-spacing: 1px;
}

.modal-register{
    color:var(--white-color);
}

.modal-register__container{
    padding: 0 30px;
}

.btn--register{
    background-color: var(--white-color);
    border-radius: 0;
    width: 100%;
    height: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 900;
    color:#3b5998;
}

.btn--register:hover{
    background-color: #3abdc1;
    color:var(--white-color);
}

}

@media (min-width:46.25em) and (max-width:64em){
     
.footer .footer__col--second{
    padding-left: 48px;
}

.footer .footer__col--fourth{
    margin-top: 56px;
    padding-left: 48px;
}

.footer .footer__col--third{
    padding-left:0;
    margin-top: 56px;
}

.footer .col-fourth{
    width: 50%;
}

.winter-resort .winter-resort__content .wrap-winter-resort__img--normal{
        margin: 0 100px;
        margin-top: 32px;
        margin-bottom: 32px;
}
    
.winter-resort .winter-resort__content .wrap-winter-resort__img--star{
        position: relative;
        margin: 0 100px;
        margin-top: 32px;
}

.slider__text .slider__text--decorate{
    font-size:2.8em;
    line-height: 58px;
}

.slider__text .slider__text--title{
    line-height: 90px;
    font-size: 8.0rem;
}

.slider__text .slider__text--detail{
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 12px;
}


    
.winter-resort .winter-resort__content .wrap-winter-resort__img--normal{
    width: 40%;
    height: 40%;
    margin-top: 0;
}

.winter-resort .winter-resort__content .wrap-winter-resort__img--star{
    height: 40%;
}

.beautiful-moment .beautiful-moment__info{
    bottom: -188px;
}

.statistic .inner-width{
    flex-wrap: wrap;
}

.col-static{
    width:50%;
}

}

@media (max-width:47.75em){
.to-top-button{
    right: 4px;
    bottom: 4px;
}   

.winter-resort .winter-resort__header h1{
    font-size: 8rem;
}

.slider__text .slider__text--detail{
    display: flex;
    max-width: 100%;
    font-size: 1.3rem;
    flex-direction: column;
}

.slider__text .slider__text--decorate{
    font-size: 2.4rem;
}

.slider__text .slider__text--title{
    font-size: 6.4rem;
    display: flex;
    flex-direction: column;
    line-height: 6.4rem;
}

.slider__text .slider__text--title strong{
    display: block;
}

.service .service__content{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.contain .item img{
    width: 100%;
}


.footer .col-fourth{
     width: 100%;
     padding-left: 0;
     margin-bottom: 64px;
}

.advertisement .advertisement__video .advertisement_video-link iframe{
    width: 724px;
    max-width: 98%;
    height: 200px;
    box-shadow: 5px 8px 13.92px 2.08px rgb(0,0,0,0.06);    
}

.advertisement .advertisement__video{
    max-width:98%;
}

.statistic .inner-width{
        flex-wrap: wrap;
    }

.col-static{
        width:100%;
    }


.beautiful-moment .beautiful-moment__info{
    height: 30%;
    bottom: -168px;
}

.winter-resort .winter-resort__content .wrap-winter-resort__img--normal{
}

.winter-resort .winter-resort__content .wrap-winter-resort__img{
    width: 334px;
    height: 334px;
}
}

@media (max-width: 37.5em){
.beautiful-moment .beautiful-moment__info{
    height: 20%;
    bottom: -168px;
}

}